@if(registration()) {
<form [formGroup]="registrationForm" (ngSubmit)="saveChanges()" class="detail-container">

    <mat-tab-group animationDuration="400ms">

        <mat-tab>
            <ng-template mat-tab-label>
                <span>{{ ui.t('details.summary') }}</span>
            </ng-template>
            <div class="grid-layout">
                <mat-form-field appearance="outline" class="span-9">
                    <mat-label>{{ ui.t('details.registrationId') }}</mat-label>
                    <input matInput formControlName="id">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                </mat-form-field>
                <div class="detail-header span-3">
                    @if(editable()) {
                    <app-status-tag [status]="registration().status" />
                    }
                </div>

                <mat-form-field appearance="outline" class="span-6">
                    <mat-label>{{ ui.t('details.did') }}</mat-label>
                    <input matInput formControlName="did">
                </mat-form-field>


                <mat-form-field appearance="outline" class="span-6">
                    <mat-label>{{ ui.t('details.adminEmail') }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                @if(!_editting()) {
                <mat-form-field appearance="outline">
                    <mat-label>{{ ui.t('details.submissionDate') }}</mat-label>
                    <input matInput [value]="registration().createdAt | date:'dd/MM/yyyy HH:mm:ss'" disabled>
                    <mat-icon matSuffix>calendar_today</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ ui.t('details.lastUpdate') }}</mat-label>
                    <input matInput [value]="registration().updatedAt | date:'dd/MM/yyyy HH:mm:ss'" disabled>
                    <mat-icon matSuffix>update</mat-icon>
                </mat-form-field>
                }

                @if(!_editting() || registrationForm.get('files')?.value?.length > 0) {
                <div class="span-12 files-container">
                    <mat-label class="section-label">{{ ui.t('details.attachedDocs') }}</mat-label>
                    <mat-chip-set class="chip-list">
                        @for(file of registrationForm.get('files')?.value; track file.name) {
                        <mat-chip-row class="file-chip" [disabled]="!editable()">
                            <mat-icon matChipAvatar>picture_as_pdf</mat-icon>
                            <span class="truncate">{{ file.name }}</span>
                            @if(_editting()) {
                            <button matChipRemove [matTooltip]="ui.t('details.remove')" [matTooltipShowDelay]="500"
                                (click)="removeFile($index)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            }
                        </mat-chip-row>
                        }
                    </mat-chip-set>
                </div>
                } @else {
                <app-upload-file [label]="ui.t('form.uploadTitle')" accept="application/pdf" [maxFileSizeMB]="5"
                    [multiple]="false" (filesChanged)="onFileSelected($event)" class="span-12" />
                }
                @if(needRevision()) {
                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>{{ ui.t('details.reasonLabel') }}</mat-label>
                    <textarea matInput formControlName="reason" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
                    <mat-icon matSuffix>comment</mat-icon>
                    @if (registrationForm.get('reason')?.hasError('required')) {
                    <mat-error>
                        {{ ui.t('details.reasonRequired') }}
                    </mat-error>
                    }
                </mat-form-field>
                }
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span>{{ ui.t('details.companyInfo') }}</span>
            </ng-template>
            <div class="grid-layout">
                <mat-form-field appearance="outline" class="span-8">
                    <mat-label>{{ ui.t('form.name') }}</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix>corporate_fare</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>{{ ui.t('form.taxId') }}</mat-label>
                    <input matInput formControlName="taxId">
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="span-12">
                    <mat-label>{{ ui.t('form.address') }}</mat-label>
                    <input matInput formControlName="address">
                    <mat-icon matSuffix>place</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>{{ ui.t('form.city') }}</mat-label>
                    <input matInput formControlName="city">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>{{ ui.t('form.country') }}</mat-label>
                    <input matInput formControlName="country">
                    <mat-icon matSuffix>public</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="span-4">
                    <mat-label>{{ ui.t('form.postCode') }}</mat-label>
                    <input matInput formControlName="postCode">
                    <mat-icon matSuffix>local_post_office</mat-icon>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>


    @if(canUpdate()) {
    <div class="actions">
        @if(!_editting()) {
        <button type="button" matButton="filled" color="accent" (click)="enableReview()">
            <mat-icon>edit_note</mat-icon>
            {{ ui.t('details.review') }}
        </button>
        } @else {
        <button type="submit" matButton="filled" color="primary"
            [disabled]="registrationForm.invalid || !registrationForm.dirty">
            <mat-icon>save</mat-icon>
            {{ ui.t('details.save') }}
        </button>
        <button type="button" matButton="tonal" color="" (click)="cancelReview()">
            {{ ui.t('details.cancel') }}
        </button>
        }
    </div>
    }
    @if(registration().adminUrl) {
    <div class="actions">
        <a [href]="registration().adminUrl" target="_blank" matButton="filled" color="primary">
            <mat-icon>manage_accounts</mat-icon>
            {{ ui.t('details.manageUsers') }}
        </a>
    </div>
    }
</form>
}