<div class="upload" [class.upload--invalid]="invalid">
    @if (label) {
    <p class="upload-label" [id]="inputId + '-label'">{{ label }}</p>
    }
    <label class="dropzone" [for]="inputId" [class.dropzone--active]="dragging" (dragover)="onDragOver($event)"
        (dragleave)="dragging = false" (drop)="onDrop($event)">
        <span class="dropzone-icon"><app-icon icon="upload" [size]="32" /></span>
        <span class="dropzone-title">{{ ui.t('upload.dropTitle') }}</span>
        <span class="dropzone-hint">{{ hint || ui.replace('upload.dropHint', { size: maxFileSizeMB }) }}</span>
    </label>
    <input #fileInput class="pg-visually-hidden" type="file" [id]="inputId" [accept]="accept" [multiple]="multiple"
        [attr.aria-describedby]="describedBy" (change)="onFileSelected($event)">

    @if (selectedFiles.length > 0) {
    <ul class="file-list">
        @for (file of selectedFiles; track $index) {
        <li class="file-item">
            <app-icon icon="file-text" [size]="22" />
            <button type="button" class="file-name" (click)="previewFile(file)"
                [attr.aria-label]="ui.replace('upload.preview', { name: file.name })"
                [matTooltip]="ui.t('upload.previewTooltip')" [matTooltipShowDelay]="500">
                {{ file.name }}
            </button>
            <span class="file-size">{{ formatSize(file.size) }}</span>
            <button type="button" class="file-remove" (click)="removeFile($index)"
                [attr.aria-label]="ui.replace('upload.remove', { name: file.name })">
                <app-icon icon="x" [size]="18" />
            </button>
        </li>
        }
    </ul>
    }
</div>
